.logo-empresa {
    width: 150px;
    height: 150px;
}

.copy {
    background-color: #AC93C6;
    align-items: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: black;
}

.btn-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-radius: 1px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: white;
}

.btn-compra:hover {
    opacity: .7;
}

.card-accesorios {
    position: relative;
}

.card-img-top:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.card-img-top {
    overflow: hidden;
}

.barra {
    font-size: xx-large;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #AC93C6;
}

.listacel {
    font-size: xx-large;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    display: flex;
    justify-content: center;
}


.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
    transition: all .5s ease-in-out;
}

.celulares {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: gainsboro;

}

/* formulario contacto*/

body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color:#FCEAFF;
}


.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


button p {
    color: #fff;
}


span {
    color: #ab4493;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: black;
}


h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #C4FCF0;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #C4FCF0;
}

/* redes botones */
.social {
    list-style: none;
    margin-top: 2em;
}

.social li {
    display: inline;
    float: left;
    margin: 0 40px 0 0;
}

.social li a {
    display: block;
    width: 64px;
    height: 64px;
    position: relative;
}

.social li a strong {
    position: absolute;
    left: 0px;
    top: 10px;
}

li.fb {
    background: url("https://3.bp.blogspot.com/-GBtZIVeafFU/UZ1FYjGvufI/AAAAAAAACII/HGNZIJO1oT0/s1600/facebook-64.png") #3B5998;
}

li.twitter {
    background: url("https://2.bp.blogspot.com/-ks0tKggjK-w/UZ1FYhudbWI/AAAAAAAACIM/smFlLtwfbxk/s1600/twitter-64.png") #0092cb;
}

.social:hover li {
    opacity: 0.3;
}

.social li {
    transition-property: opacity;
    transition-duration: 500ms;
}

.social li a strong {
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: 250ms;
}

.social li:hover {
    opacity: 1;
}

.social li:hover a strong {
    opacity: 1;
    top: -23px;
}

/*# sourceMappingURL=style.css.map */